.underconstruction{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    color: var(--mainColor);
  }
  .inventory{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
  }
  .inventory_header{
   display : flex;
   align-items: center;
   width: 100%;
   background: black;
   color: white;
  }
  .inventory_header>h2{
   font-weight: 600;
   flex:1;
   text-align: center;
   padding: 10px 0;
   letter-spacing: 1px;
  }
  .accountGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 50px);
  }
  .accountGroup>h1{
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 500;
    padding: 5px 0;
    margin: 0;
    text-transform: uppercase;
    font-size:1.5rem;
  }
  .invContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    max-height: 72vh;
  }
  .accountGroupOptions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
  }
  .accountGroupOptions button{
    background-color: var(--mainColor);
    color: white;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
  }
  .accountGroupOptions input{
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-weight: 500;
  }
  .actionIcon{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 5px;
    cursor: pointer;
  }
  .actionIcon.red{
    background: white;
    color: red;
  }
  .actionIcon.green{
    background: white;
    color: green;
  }
  .accountGroup> .topInputs, .bottomContent{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: flex-start;
  }
  .bottomContent{
    padding-top: 0;
    justify-content: center;
  }
  .bottomContent>button ,.inputGroup>button{
    background-color: var(--mainColor);
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 500;
    width: 10rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
  .topInputs>button.red{
    background-color: red;
  }
  .inputGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* flex:1; */
    min-width: 5rem;
    justify-content: flex-end;
  }
  .topInputs>.inputGroup{
    min-width: 12rem;
  }
  .inputGroup> input, .inputGroup> select{
    display: flex;
    align-items: center;
    height: 2.2rem;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    font-weight: 500;
    color: darkslategray;
    letter-spacing: 0.5px;
  }
  .inputGroup> label{
    font-weight: 500;
    color: darkslategrey;
  }
  .bottomSalesSearchbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    width: 100%;
    padding: 15px 5px;
  }
  .bottomSalesSearchbarLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
  }
  .bottomSalesSearchbarLeft > textarea, .topInputs > textarea {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    resize: none;
    flex: 1;
    font-size: 1rem;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    height: 4rem;
    border: 1px solid rgb(167, 167, 167);
  }
  .qtyInput{
    padding: 3px 10px;
    border-radius: 5px;
    width: 5rem;
    outline: none;
    border: 1px solid grey;
    font-weight: 500;
    color: darkslategray;
  }
  
  .editButton{
    background-color: var(--mainColor);
    color: white;
    padding: 0.4rem 2rem;
    margin: 0 5px;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  .counter_select:focus,
  .inputGroup select:focus{
    border: 2px solid #4ac959;

  }
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}